<template>
  <DIV class="container" style="width: 100%; height: 100%">
    <div class="row">
      <div class="col-12 text-center">
        <div class="img-logo"><img src="Capture.JPG" alt="LoGo" /></div>
        <div class="pad">
          <button class="input-mail" routerLink="/Register">สมัครสมาชิก</button>
        </div>
        <div class="pad">
          <button class="input-mail padLog" routerLink="/Login">
            เข้าสู่ระบบ
          </button>
        </div>
      </div>
    </div>
  </DIV>
</template>

<script>
export default {};
</script>

<style>
</style>